@page "/printers-info"
@inject JSPrintManager JSPrintManager

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
            <i class="fa fa-print" />&nbsp;Printers Info
        </h2>
        <hr />
    </div>
</div>

@if (JSPrintManager.PrintersInfo == null)
{
    <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <strong><em>Getting printers info...</em></strong>
}
else
{
    <h1>Installed Printers Info:</h1>

    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">Port</th>
                <th scope="col">XDPI</th>
                <th scope="col">YDPI</th>
                <th scope="col">Default</th>
                <th scope="col">Local</th>
                <th scope="col">Network</th>
                <th scope="col">Shared</th>
                <th scope="col">Connected</th>
                <th scope="col">Is Fax</th>
                <th scope="col">Custom Paper Support</th>
                <th scope="col">BIDI</th>
                <th scope="col">Trays</th>
                <th scope="col">Papers</th>
                <th scope="col">Media Types</th>
                <th scope="col">Manufacturer</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pi in JSPrintManager.PrintersInfo)
            {
            <tr>
                <td>
                    @if (pi.Icon.Length > 0)
                    {<img src="data:image/png;base64,@pi.Icon" />}
                </td>
                <td>@pi.Name</td>
                <td>@pi.Port</td>
                <td>@pi.XDPI</td>
                <td>@pi.YDPI</td>
                <td>
                    @if (pi.Default)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.IsLocal)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.IsNetwork)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.IsShared)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.Connected)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.IsFax)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.CustomPaperSupport)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    @if (pi.BIDIEnabled)
                    {<span class="badge badge-success">&#10004;</span>}
                    else
                    {<span class="badge badge-danger">&#10006;</span>}
                </td>
                <td>
                    <select>
                        @foreach (var tray in @pi.Trays)
                        {
                            <option>@tray</option>
                        }
                    </select>
                </td>
                <td>
                    <select>
                        @foreach (var paper in @pi.Papers)
                        {
                            <option>@paper</option>
                        }
                    </select>
                </td>
                <td>
                    <select>
                        @foreach (var mt in @pi.MediaTypes)
                        {
                            <option>@mt</option>
                        }
                    </select>
                </td>
                <td>@pi.Manufacturer</td>
            </tr>
            }



        </tbody>
    </table>



}


@code {

    protected override void OnInitialized()
    {
        JSPrintManager.OnGetPrintersInfo += () => StateHasChanged();

        base.OnInitialized();
    }

}